@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  font-family: 'Istok Web', sans-serif;
}

nav ul li, nav ul li a {
  text-decoration: none;
}

#main {
  width: 95%;
  box-shadow: 0 0 4px grey;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  border-bottom: 1px solid grey;
}

header div {
  font-size: 20px;
  font-weight: 600;
}

header nav {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.float {
  margin: 20px auto;
  width: 60%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 5px;
}

.float h3, .float p, .float h5 {
  align-self: center;
  color: rgb(20, 20, 120);
}

tr, th, td {
  padding: 5px;
}


#contact #portions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
